name: Test GitHub Actions

on:
  workflow_dispatch:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run a test command
        run: |
          echo "GitHub Actions is working"
